<div class="outer">
  <div class="inner">

<%= form_with(model: @user, local: true) do |f| %>
    
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :名前 %>
  <%= f.text_field :name %>

  <%= f.label :Eメール %>
  <%= f.email_field :email %>

  <%= f.label :パスワード %>
  <%= f.password_field :password %>

  <%= f.label :パスワード確認 %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "アカウントを更新する", class: 'btn btn-light' %>
<% end %>

  </div>
</div>