<div class="outer">
  <div class="inner">

<%= form_with(model: [ :admin, @user ], local: true) do |f| %>
    
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :名前 %>
  <%= f.text_field :name %>
  </div>

  <div class="field">
  <%= f.label :Eメール %>
  <%= f.email_field :email %>
  </div>

  <div class="field">
  <%= f.label :パスワード %>
  <%= f.password_field :password %>
  </div>

  <div class="field">
  <%= f.label :パスワード確認 %>
  <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
  <%= f.label :管理者権限 %>
  <%= f.select :admin, User.admins.keys.to_a, include_blank: '選択してください', class: 'form-control', required: true %>
  </div>

  <div class="field">
  <%= f.submit "アカウントを更新する", class: 'btn btn-light' %>
  </div>
<% end %>

  </div>
</div>